.logingFormCont{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #27272750;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.logingForm{
  width: 40%;
  background-color: #ffffff;
  border-radius: 10px;
}
.logingForm form{
  padding: 10px 20px;
}